<h1>Reserve Appointment</h1>

<form class="form-group" [formGroup]="AppointmentForm">
  <div class="row">
    <div class="col-xs-12 col-6 col-md-4 form-group mb-3">
      <label>Arabic Title</label>
      <input   class="form-control"
      formControlName="titleAr" />
    </div>
    <div class="col-xs-12 col-6 col-md-4 form-group mb-3">
      <label>English Title</label>
      <input   class="form-control"
      formControlName="titleEn" />
    </div>
  </div>
  <label>Doctor Name</label>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
  <select
  class="form-control"
  formControlName="doctorId"
 (change)="getDoctorId($any($event.target).value)"
  >
    <option  [value]=""></option>
    <option *ngFor="let item of doctorlookup" [value]="item.key">{{item.value}}</option>
  </select>
  </div>
  <label>Patient Name</label>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
  <select
  class="form-control"
  formControlName="patientId"
  >
    <option  [value]=""></option>
    <option *ngFor="let item of patientlookup" [value]="item.key">{{item.value}}</option>
  </select>
  </div>
  <div class="row">
    <div class="col-xs-12 col-6 col-md-4 form-group mb-3">
      <label>Appointment Date</label>
      <input type="text"
             formControlName="appointmentdate"
             placeholder="Datepicker"
             class="form-control"
             (bsValueChange)="gettimeperday($event) "
             bsDatepicker
             [minDate]="today"
             [bsConfig]="{ isAnimated: true }">
             <span *ngIf="NotAvailable">There Is No Availble Time For The Doctor In This Date</span>
    </div>
    <div class="col-xs-12 col-6 col-md-4 form-group mb-3">
      <label>Appointment Time</label>
      <select
      class="form-control"
      formControlName="appointmenttime"
      >
        <option *ngFor="let item of doctorSchduleSlots" [value]="item.utcHour">{{item.utcHour}} : 00</option>
      </select>
    </div>
  </div>
  <div  class="justify-content-end row">
    <button   type="button" class="m-2 col-2 btn btn-primary" [disabled]="!AppointmentForm.valid"  (click)="AddReservation()">
     Reserve This Appointment
    </button>
    <button   type="button" class="m-2 col-2 btn btn-primary" routerLink="/Secertery">
      Back To Home
     </button>
  </div>
</form>
<br/>
<div class="card card-block card-header mb-3" *ngIf="AppointmentForm.value.titleAr">
  <span *ngIf="AppointmentForm.value.titleAr">You Have Reserved a {{AppointmentForm.value.titleAr}} Appointment</span>
  <span *ngIf="doctorname"> With Doctor {{doctorname}}</span><span *ngIf="AppointmentForm.value.appointmentdate"> in {{AppointmentForm.value.appointmentdate | date: 'dd/MM/yyyy'}}</span>
  <span  *ngIf="AppointmentForm.value.appointmenttime" > at {{AppointmentForm.value.appointmenttime}} :00 to {{AppointmentForm.value.appointmenttime}} :30 UTC</span>
</div>
